/* Transform all of this into SCSS ?*/

/* #orb-square should have an id for sure, so I don't have to use this
 * syntax to access it lol */

.form-horizontal, #orb-square {
    float: left;
}

#orb-square {
    margin-left: 15%;
    padding-top: 5%;;
}

.orb-pic-container {
    border-radius: 50%;
}

.orb-pic-container, .orb-pic {
    height: 3em;
    width: 3em;
    display: inline-block;
}

.orb-pic {
    /* padding-top: 0; */
    transform: scale(0.65);
}

/* ----- Orb list ------- */

.orb-action-card {
    /* TODO: Lighten #8dc63f */
    background-color: #eaf5f9;
    margin-top: 1em;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.current-orb-text {
    display: block;
    word-break: break-word;
    margin-bottom: 2%;
}

.orb-previews {
    float: right;
    margin-top: -15%;
}

.water {
    margin-right: 1em;
}

.button-preview {
    margin-left: 2%;
}

/* ----- Move Controls to the right hand side lol --- */

#orbList {

    /* Re-architect the page's HTML structure so that you don't need these
     * floats, if possible! May be impossible because you need block elements
     * (cards) so they might only be positionable with floats and stuff.
     */

    float: right;
    margin-right: 8em;
    max-width: 40%;
    min-width: 40%;
}
